BOT_TOKEN=ваш_токен_от_botfather
DA_TOKEN=ваш_токен_donationalerts
ADMIN_ID=ваш_telegram_id
DATABASE_URL=postgresql://user:pass@host/dbname
CHANNEL_ID=@ваш_канал
CHAT_CHANNEL=@ваш_чат_канал
CHAT_GROUP_ID=-1001234567890
MEDIA_CHANNEL_ID=-1001234567890
